@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Hind', sans-serif;
}

:root {
    --naranja: rgb(243, 69, 0);
    --verde: rgb(4, 138, 7);
    --blanco: rgb(255, 255, 255);
    --negro: rgb(0, 0, 0);;
    --azul: rgb(20, 59, 143);;
    --celeste: rgb(70, 156, 255);
    --rojo: rgb(117, 0, 0);
    --rojoClaro: rgb(255, 91, 91);
    --color-texto-menu: rgb(255,255,255);
    --tamanoCaja: calc(200px + 17px);
    --ubicacionCaja: 200px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.cabeceraPagina {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--verde);
    width: 100%;
    height: 120px;
    font-family: 'Hind:@600', sans-serif;
    padding: 0px;
    top: 0px;
    z-index: 2;
}

.barraNavegacion {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 100px;
    align-items: center;
}

.barraNavegacionMovil {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: var(--verde);
    width: 100%;
    margin-top: 65px;
    height: auto;
    gap: 15px;
    padding: 15px 10px;
    z-index: 3;
}

.grupoNav {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

}

.hamburguesa {
    display: none;
}

.logotipoHeader {
    margin-left: 100px;
    height: 90px;
    width: 326px;
}

.usuario {
    display: block;
    border: solid 1px rgba(255, 255, 255, 0.411);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.usuarioMovil {
    display: none;
}


.iconoUsuario {
    color: var(--blanco);
    font-size: 1.1rem;
}

.fotoUsuario {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.cardUsuario {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0px;
    right: var(--ubicacionCaja);
    top: -5px;
    width: var(--tamanoCaja);
    z-index: 3;
    background-color: rgb(48, 48, 48);
    border: solid 1px rgba(0,0,0,0.675);
    border-radius: 5px;
    padding: 20px 10px;
    color: var(--blanco);
    gap: 0px;
    font-size: 0.9rem;
}

.cardUsuario h4 {
    color: white;
    padding: 0px;
    margin: 0px;
}

.cardFotoUsuario {
    width: 100px;
    height: 100px;
    border: solid 1px rgba(0,0,0,0.675);
    border-radius: 50%;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    width: 90%;
    margin-top: 20px;
    font-size: 1rem;
}

.itemUsuario {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: start;
    padding: 3px 10px;
    border-radius: 3px;
    transition: background-color .1s ease-in-out;
    font-size: 1rem;
}

.itemUsuario:hover {
    background-color: #858585;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border: solid 1px rgb(105, 105, 105);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.campoUsuario {
    border-radius: 5px;
}

.campo:focus {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.separador {
    width: 100%;
    border: none;
    height: 1px;
    background: none;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.705);
    margin: 10px 0px;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0;
    margin-top: 135px;
    padding: 0;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85vw;
}

h1 {
    color: var(--verde);
    text-align: center;
}

.cajonRecetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 30px 0px;
    width: 100%;
}

.cajonProductos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    justify-content: center;
    margin: 30px 0px;
    width: 100%;
}

.ordenacion {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: solid 1px #d3d3d3;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.411);
    margin-top: 20px;
    padding: 10px 20px;
    gap: 20px;
    align-items: center;
    align-self: start;
}

.campoOrdenacion {
    width: 100px;
    border-radius: 5px;
    padding: 3px;
}

.divSelect {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    background-image: url("../img/fondoTitulo.jpg");
    background-size: cover;
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.cajaTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
    background-color: var(--naranja);
    margin-left: 30px;
    border-radius: 5px;

}

.cajaTitulo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
    margin-right: 30px;
}

.textoCajaTitulo {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
}

.textoCajaSubtitulo {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
}

.imagenCajaTitulo {
    height: 90%;
    width: 35vw;
    opacity: .9;
    margin-right: 50px;
}

.textoPresentacion {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}
.itemMenu {
    color: var(--color-texto-menu);
    font-size: 1.2rem;
    opacity: .8
}


.itemMenu:hover {
    cursor: pointer;
    opacity: 1;
}

.pointer:hover {
    cursor: pointer;
}

h2 {
   font-weight:600;
    }

h4 {
    font-weight: 400;
    color: black;
}


.caja {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70px;
    background-color: var(--verde);
    color: white;
    font-family: 'Hind:@600', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
}

.zoom {
    transition: transform .2s; 
}
 
.zoom:hover {
    transform: scale(1.05); 
}

.card {
    display: flex;
    flex-direction: column;
    border: solid 1px #d3d3d3;
    border-radius: 5px;
    padding: 10px 15px;
    width: 90%;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.137);
    transition: box-shadow .2s ease-in-out;
}

.card:hover {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.507);
}


.cardMas {
    text-decoration: underline;
    transition: color 1s ease-in-out;
}

.cardMas:hover {
    color: var(--verde);
    text-decoration: underline;
}

.pieCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.carMas {
    text-decoration: underline;
}

.cardFotoProducto {
    width: 100%;
    border-radius: 5px;
    
}

.cardNombreProducto {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 10px;
}

.cardPrecioProducto {
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 10px;
    color: #000;
    align-self: start;

}

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
    
.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--verde);
    width: 100%;
    gap: 30px;
   
}

.logoPie, .infoPie, .redesPie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iconoRedesPie {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.imgLogoPie {
    height: 130px;
    width: 245px;
}
.textoPie {
    color: white;
    font-size: 1.5rem;
    margin: 0px;
}

.textoInfoPie {
    color: white;
    font-size: 1.2rem;
    margin: 0px;
}

.ventanaAlert {
    display: block;
    position: fixed;
    top: 60px;
    right: 20px;
    padding: 20px 50px;
    z-index: 6;
    border-radius: 5px;
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.opacidad1  {
    opacity: 1;
}

.scroll {
    overflow: hidden;
}

.ventanaEmergente {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.9);
    top: 0px;
    left: 0px;
    z-index: 2;
}

.ocultar {
    display: none;
}

.cajonBuscar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.cajonBuscarMovil {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
}

.campoBuscar {
    padding: 10px 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: white;
}

.botonBuscar {
    position: relative;
    right: 30px;
    font-size: 1.1rem;
    cursor: pointer;
}

.contenidoVentanaEmergente {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    width: 85%;
    background-color: #fff;
    border-radius: 5px;
    color: black;
    border: solid 1px #000000;
}

.contenidoVentanaEmergente input {
    margin-top: 5px;
}

.tituloVentana {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px 0px;
    border:none;
    border-radius: 5px 5px 0px 0px;
}

.contenidoVentana {
    font-size: 1.2rem;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    border-radius: 5px;
}

.textoTituloVentana, .botonCerrarVentana {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0px 20px;
}

.imagenDescripcion {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.textoDescripcion {
    text-align: justify;
    font-size: 1rem;
}

.precioProductoVentana {
    font-size: 1.5rem;
}

.nombreProductoVentana {
    color: #000;
    font-size: 2rem;
    font-weight: 600;
}

.imagenProductoVentana {
    width: 50%;
}
.contenedorDatos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lineaDatos {
    display: flex;
    flex-direction: column;
}

.pieVentana {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    padding: 25px 15px;
    gap: 20px;
    justify-content: end;
}

.contenedorCajaNosotros {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contenedorCajaNosotros p {
    text-align: justify;
    width: 80%;
}

.cajaNosotros {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: solid 1px #d3d3d3;
    border-radius: 5px;
    padding: 40px 20px;
    align-items: center;
    gap: 10px;

}

.imgCajonNosotrosInicio {
    width: 120px;
}

.imgCajonNosotrosCentro {
    width: 68px;
}

.imgCajonNosotrosFinal {
    width: 86px;
}

.cajonContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 30px 0px;
    width: 40vw;
}


.formularioContacto {
    display: flex;
    flex-direction: column;
}

.formularioContacto p {
    text-align: justify;
}


.grupoCampos {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.lineaFormulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: start;
}

.campo {
    font-size: 1.1rem;
    height: 50px;
    width: 15%;
}

.campoFormulario {
    height: 50px;
    width: 100%;
}

.campoTextarea {
    height: 200px;
}

.width50 {
    width: 50%;
}

.boton {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    opacity: 0.8;
    transition: 0.5s ease-in-out;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
}

.boton:hover{
    opacity: 1;
}

.btnCerrar {
    background-color: var(--verde);
    padding: 10px 30px;
}

.btnAgregar {
    background-color: var(--naranja);
}

.btnGuardar {
    background-color: var(--colorBotonGuardar);
}


boton:hover{
    opacity: 1;
}

.notificacionCarrito {
    position: fixed;
    bottom: 10%;
    right: 15px;
    width: 80px;
    height: 80px;
    background-color: white;
    border: solid 1px #919191;
    z-index: 5;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #858585;
    transition: background-color .5s ease-in-out;
}

.notificacionCarrito:hover {
    background-color: var(--naranja);
    color: white;
}

.notificacionCarrito:hover .iconoCarrito {
    color: white;
}

.cantidadCarrito {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.elementosCarrito {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.iconoCarrito {
    color: black;
    font-size: 2rem;
    transition: color .5s ease-in-out;
}

.carritoVacio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.tablaCarrito {
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    table-layout: fixed;
    width:100%;
    border-collapse: collapse;
    border: 1px solid rgb(163, 161, 161);
    margin-top: 0px;
    font-size: 1.1rem;
    font-weight: 400;
/*     box-shadow: 2px 2px 20px rgb(218, 218, 218); */
}

 .tituloTablaCarrito {
    color: black;
    padding: 0px 0px;
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 10px;
}

.tablaCarrito thead th:nth-child(1) {
    width: 9%;
}

.tablaCarrito thead th:nth-child(2) {
    width: 48%;
}

.tablaCarrito thead th:nth-child(3) {
    width: 17%;
}

.tablaCarrito thead th:nth-child(4) {
    width: 19%;
}

.tablaCarrito thead th:nth-child(5) {
    width: 7%;
}

.tablaCarrito thead {
    background-color: var(--naranja);
    color: var(--blanco);
}

.tablaCarrito tbody td,th {
    padding: 2px 0px;
    border: 1px solid var(--naranja);
    text-align: center;
}

.tablaCarrito tbody td:nth-child(2) {
    padding: 2px 10px;
}

.resumenCarrito {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.cardResumenCarrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: solid 1px rgb(163, 161, 161);
    border-radius: 5px;
}

.tituloCardResumenCarrito {
    display: flex;
    background-color: var(--verde);
    color: white;
    font-size: 1.3rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}

.textoCardResumenCarrito {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    font-size: 1.3rem;
    font-weight: 600;
}

.pieCarrito {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
    gap: 15px;
}

.descripcionNosotros {
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 30px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.contenedorVideo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.videoFrame { 
    width: 30vw;
    height: 30vh;
}

.pieDePagina {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0px;
    padding: 25px 0px;
    width: 100%;
}

.imgAvatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 5px;
}

.fondoNaranja {
    background-color: var(--naranja);
}

.fondoVerde {
    background-color: var(--verde);
}

.fondoBlanco {
    background-color: var(--blanco);
}

.fondoNegro {
    background-color: var(--negro);
}

.fondoAzul {
    background-color: var(--azul);
}

.fondoCeleste {
    background-color: var(--celeste);
}

.fondoRojo {
    background-color: var(--rojo);
}

.fondoRojoClaro {
    background-color: var(--rojoClaro);
}
@media screen and (max-width: 1024px) {

    .barraNavegacion {
        display: none;
    }

    .hamburguesa {
        display: block;
        margin-left: 20px;
        font-size: 1.4rem;
        color: var(--blanco);
    }

    .usuario {
        display: none;
    }

    .usuarioMovil {
        display: block;
        margin-right: 20px;
    }

    .grupoNav {
        display: none;
    }
    
    .notificacionCarrito {
        width: 50px;
        height: 50px;
    }

    .iconoCarrito {
        color: black;
        font-size: 1.5rem;
    }

    .cajonBuscar {
        display: none;
    }

    .ordenacion {
        flex-direction: column;
        gap: 2px;
        align-items: start;
        width: 85vw;
        align-self: center;
    }

    .logotipoHeader {
        margin-left: 0px;
        height: 50px;
        width: 185px;
    }

    .cabeceraPagina {
        height: 65px;
    }

    .principal {
        margin-top: 80px;
        width: 100vw;
    }

    .caja {
        width: 95vw
    }

    .mainContent {
        width: 95vw;
    }
       
    .contenidoVentanaEmergente {
        margin-top: 10px;
        width: 90%;
    }

    .contenidoVentana {
        font-size: 1rem;
        padding: 5px 15px;
        justify-content: center;
        align-items: center;
    }
    
    .imagenDescripcion {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .tituloVentana {
        width: 100%;
    }

    .textoTituloVentana {
        font-size: 1.1rem;
        font-weight: 600;
    }
    
    .nombreProductoVentana {
        font-size: 1.3rem;
        font-weight: 400;
        align-self: center;
    }

    .precioProductoVentana {
        font-size: 1.1rem;
    }

    .titulo {
        width: 85vw;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .cajonProductos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
    }

     .card {
        width: 85%px;
        padding: 5px 5px;
    }

    .cardNombreProducto {
        font-size: 1.1rem;
        font-weight: 600;
        margin-top: 5px;
    }

    .cardPrecioProducto {
        font-size: 1.1rem;
    }
    
    .cajonNosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textoCajaTitulo {
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
    }
    
    .resumenCarrito {
        width: 100%;
    }

    .cardResumenCarrito {
        width: 50%;
    }
    
    .tituloCardResumenCarrito {
        font-size: 1.2rem;
    }
    
    .textoCardResumenCarrito {
        font-size: 1.1rem;
    }

    .textoCajaSubtitulo {
        font-size: 1.2rem;
        font-weight: 300;
        text-align: center;
    }
    
    .cajaTitulo {
        margin-top: 20px;
        width: 80%;
    }

    .imagenCajaTitulo {
        height: 200px;
        opacity: .8;
        margin: 20px 0px;
    }

    .textoPresentacion {
        font-size: 1rem;
        font-weight: normal;
        width: 85vw;
        text-align: justify;
    }

    .pieDePagina {
        flex-direction: column;
        height: auto;
        gap: 20px;
        text-align: center;
        padding: 15px 0px;
    }

    .redesPie {
        margin-top: 10px;
    }

    .infoPie {
        margin-top: 0px;
    }

    .contenedorCajaNosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        gap: 30px;
    }

    .cajaNosotros {
     width: 85vw;
    }

    .contenedorCajaNosotros p {
        width: 90%;
    } 

    .videoFrame { 
        width: 60vw;
        height: 30vh;
    }

    .cajonContacto {
        width: 85vw;
    }    
}