@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Hind', sans-serif;
    margin: 20px;

}
body{
    background-color: white;
}
h1 {
    color: #048A07;

}

a{
color: white;
text-decoration: none;
}
h2 {
   font-weight:600;
    }
h4 {
    font-weight: 400;
    color: black;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #048A07;
    width: 1280px;
    height: 110px;
    font-family: 'Hind:@600', sans-serif;
    }
nav {
    display: flex;
    gap: 60px;

}
.caja {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 50px;
    background-color: #048A07;
    color: white;
    font-family: 'Hind:@600', sans-serif;
    font-size: 12pt;
  
    }
    .video-responsive {
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        padding-top: 30px;
        position: relative;
        }
    .video-responsive iframe, .video-responsive object, .video-responsive embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        }
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #048A07;
    width: 1280px;
    height: 160px;
    color: white;
    
}
